@charset "utf-8";

html,body {
	height: 100%;
}
body{ 
	overflow:hidden;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/*顶部菜单*/

#client-bg-box {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	text-align: center;
	overflow: hidden;
}

#topList { width:240px; height:32px; background:url(../images/icon1/main_icon.png) 0 0 no-repeat; position:absolute; top:30px; left:50%; margin-left: -120px;}
#topList li { float:left; position:relative;/* margin-top:2px;*/ }
#topList .login { width:46px; margin-right:7px; }
#topList .login img{ width:30px; height:30px; border:2px #fff solid; margin-top:-15px; margin-left:12px;   }

#topList .tabIco {  height:25px; margin-right:20px;}
#topList .tabIco  li{ float:left; width:22px; height:22px; text-align:center; line-height:19px; }
#topList .tabIco a { float:left; width:18px; height:17px;  padding-left:4px; padding-top:5px; color:#fff; }

#topList .tabIco  li a.active,#topList .tabIco  a:hover{ background:url(../images/icon1/topList_bg.png) 0 0 no-repeat; color:#000;  }

#topList .view,#topList .research { margin-top:5px; margin-right:9px; }
#topList .view a { background:red;;display:block; width:17px; height:17px; background:url(../images/icon1/main_icon.png) 0 -37px no-repeat;  }
#topList .research a { display:block; width:17px; height:17px; background:url(../images/icon1/main_icon.png) -67px -37px no-repeat;}

#topList .view a:hover{ background-position:-34px -37px;}
#topList .research a:hover{ background-position:-100px -37px;}

/*背景*/


#bg_all img {width:100%; height:100%; position:absolute; top:0; left:0; }

/*左边苹果菜单*/
#leftSide { width:70px;  background:#3e4040; filter:alpha(opacity=20); opacity=0.2; position:absolute; top:60px;  left:25px; border:4px solid #eee; border-radius:10px;z-index:1; }
#leftSide .leftList { width:40px; height:430px;  margin:15px auto 0;  position:relative; }
#leftSide .leftList li { text-align:center; position:absolute; left:0; cursor:pointer; }
.leftList li img {width:40px; height:40px; }
 
#leftSide .leftSet {  border-top:#999 1px solid; } 
#leftSide .leftSet .setWrap { height:30px; width:56px; margin:10px auto 0; }
.leftSet .setWrap  a { display:block; width:20px; height:19px; cursor:pointer; background:url(../images/icon1/leftSet_bg.png) no-repeat;  }
.leftSet .setWrap .voiceSet{ float:left; background-position:0px 0px;  }
.leftSet .setWrap .voiceSet:hover{  background-position:0 -19px;}
.leftSet .setWrap .bgSet{ float:right; background-position:-40px 0px; }
.leftSet .setWrap .bgSet:hover{ background-position:-40px -20px;}

.mainSetWrap { width:100%;  border-top:#999 1px solid; text-align:center;   }
.mainSetWrap .mainSet { width:40px; height:38px; display:inline-block; background:url(../images/icon1/leftSet_bg.png) -60px 0 no-repeat;  margin:16px auto;}
.mainSetWrap .mainSet:hover{ background-position:-100px 0; }

/*中间的菜单*/
#mainList{  top:80px; position:absolute; border-:5px blue solid; z-index:0;}
#mainList .pagewrap{ float:left; }
#mainList .page{ float:left; margin-left:200px; position:relative; }
#mainList .lat { 
	width:88px; 
	height:88px; 
	position:absolute; 
	background:url(../images/icon1/appbutton_mouseover_bg3.png) -90px 0 no-repeat;
	transition:top .4s,left .4s,opacity .2s .4s;
}
#mainList .lat a { display:block; width:44px; height:44px; margin:6px auto 0;}
#mainList .lat img { width:44px; height:44px;}
#mainList .lat .icoTitle { height:20px; margin-top:8px; text-align:center; color:#fff; font-size:12px; line-height:1.5; }
.lat .icoTitle p{  }
#mainList .lat .icoTitleCont { height:20px; background:url(../images/icon1/mainIco_bg.png) no-repeat 0 0; overflow-x:hidden; overflow-y:hidden; text-indent:10px; display:inline-block; max-width:78px; vertical-align:middle; }
#mainList .lat .icoTitleIn { display:inline-block; width:10px;  background:url(../images/icon1/mainIco_bg.png) no-repeat -78px 0;; height:20px; vertical-align:middle;}

/*弹窗*/
.dialog { border-radius:1% 1% 0 0; border:1px #999 solid; position:absolute; overflow:hidden; }
.dialog .titleBar { position: absolute; top:0; left:0; width:100%; height: 30px; border-bottom:1px #fff solid; text-align:center; line-height:30px; background:#ebebeb;}
.dialog .titleBar .buttonBar{ float: right; height: 100%;  width: 85px; box-sizing:border-box; -webkit-box-sizing: border-box; padding-right: 15px;  }
.dialog .buttonBar a { display:inline-block; width:15px; margin-left:6px; height:14px; background:url(../images/icon1/dialog_button_bg.gif) no-repeat;  vertical-align:middle; cursor:pointer}

.dialog .buttonBar .windowMix { background-position:0 -14px;}
.dialog .buttonBar .windowMax { background-position:-15px -14px;}
.dialog .buttonBar .windowClose { background-position:-30px -14px;}

.dialog .buttonBar .windowMix:hover { background-position:0 0px;}
.dialog .buttonBar .windowMax:hover { background-position:-15px 0px;}
.dialog .buttonBar .windowClose:hover { background-position:-30px 0px;}

.dialog .windowBody { background:#fff; height: 100%; box-sizing:border-box; -webkit-box-sizing: border-box; padding-top: 30px; }
.dialog .windowBody iframe { border:none; display:block; width: 100%; height: 100%; }

/*弹窗最小化时的方块*/
#taskContainer{ position:absolute; right:70px; bottom:0; z-index: 999; }
.mixMask { width:114px; height:64px; float:right; background:url(../images/111/images/bg_task_group_b.png) 1px 17px no-repeat; cursor:pointer;}
.mixMask .itemIcon{ width:32px; height:32px; float:left;margin:22px 5px;}
.mixMask .itemTxt{ float:left; width:70px; height:36px; line-height:36px; margin-top:27px; color:#fff;}
.mixMask:hover { background:url(../images/111/images/bg_task_cur.png) no-repeat;}
/*右键菜单*/
#d_textmenu { display:none;}
#d_textmenu, #ic_textmenu {  width:140px;  border:1px solid #b8cbcb; position:absolute; bottom:50px; right:50px; background:#eee; padding:8px 0 ; border-radius:5%; opacity:0.8; filter:alpha(opacity=80);}
#d_textmenu { height:120px;}
#ic_textmenu { height:90px;}
#d_textmenu li, #ic_textmenu li{ width:140px; height:30px; text-indent:25px; line-height:30px; color:#333; font-size:13px; position:relative; }
#d_textmenu li a, #ic_textmenu li a{ display:block;}
#d_textmenu li a:hover, #ic_textmenu li .ico_btn:hover{ background:#4E63F3; color:#fff; }

#ic_textmenu .changePage { position:absolute; top:0; left:140px; background:#eee; display:none; width:100px; height:150px }
 #ic_textmenu .changePage a { width:100px; display:block; cursor:point; color:#333;}
  #ic_textmenu .changePage li.active a {background:#4E63F3; color:#fff; }
/*转动的模块*/
#personCenter { width:50px; height:50px; position:absolute; right:20px; bottom:20px; }
#personCenter dt { width:50px; height:50px; position:absolute; left:0; top:0; transition:1s; z-index:1;}
#personCenter dd { width:42px; height:42px; position:relative; margin:4px;border-radius:50%;  position:absolute; left:0;top:0; transition:1s;}
#personCenter   img{ border-radius:50%;}

/*tick*/
#tick { width:200px; height:200px; background:#fff; border-radius:50%; box-shadow:2px 5px 10px rgb(0,0,0,0.3); position:absolute; top:251px; right:208px; cursor:move; }
#tick .tickList { height:200px; position:relative; z-index:1; }
#tick .tickList li { width:2px; height:8px;  background:#000; position:absolute; left:99px; top:0; -webkit-transform-origin:center 100px;
-moz-transform-origin:center 100px;
transform-origin:center 100px;
 }
#tick .tickList li:nth-of-type(5n+1){ height:12px; width:4px; left:98px;}



#tick .tickHour{width:6px;height:50px; background:#eee; position:absolute;left:97px;top:50px; z-index:2; border-radius: 0 0 38% 38%;-webkit-transform-origin:center bottom;
-moz-transform-origin:center bottom;
transform-origin:center bottom; }
#tick .tickMin{width:4px;height:60px;position:absolute; z-index:3; background:#eee; border-radius: 0 0 38% 38%; left:98px;top:40px;-webkit-transform-origin:center bottom;
-moz-transform-origin:center bottom;
transform-origin:center bottom; }
#tick .tickSec{width:2px;height:70px;position:absolute; background:#eee;; left:99px;top:30px; z-index:4;-webkit-transform-origin:center bottom;
-moz-transform-origin:center bottom;
transform-origin:center bottom; }
#tick .tickIco {width:180px;height:180px; background:#111; border-radius:50%; position:absolute;left:10px;top:10px; z-index:1; box-shadow:inset 0 0 2px #fff;}

/*天气模块*/
#weatherBox { width:189px; height:100px; background:url(../images/icon1/weather_bg.png); position:absolute; top:56px; right:208px; padding:4px 8px;;}
#weatherBox .weatherData { height:50px; cursor:move; }
#weatherBox .weatherData span { font-family:tahoma,helvetica,clean,sans-serif; font-size:16px;; line-height:35px; color:#fff; font-weight:bold;  margin-left:8px;}

#weatherBox .adress { height:22px; position:relative; }
#weatherBox .adress a {  float:left;  height:22px; color:#fff; line-height:22px; text-indent:1em; font-weight:bold;  width:56px; }

#weatherBox .adress a:hover{background:url(../images/icon1/weatherAdr_bg.gif) 0 0 no-repeat; }

#weatherBox .adress .adressData { display:none; width:204px; height:114px;  position:absolute; background:url(../images/icon1/adressData_bg.gif) 0 0 no-repeat; top:22px; left:-7px; }
#weatherBox .adress .adressWrap { width:177px; height:88px; margin:10px auto 0; }
.adress .adressData select { width:175px;height:20px; border:1px solid #CCC; margin-bottom:10px; display:block; }
.adress .adressData input { width:60px; height:23px; color:#fff; text-align:center; line-height:23px; float:right; margin-right:5px; background:url(../images/icon1/weather_btn.gif) 0 0 no-repeat; cursor:pointer;}

#weatherBox .weatherFooter { color:#fff;   font-size:13px; width:180px; margin: 7px auto 0; }
#weatherBox .weatherFooter a { color:#fff;  float:right;  font-size:13px; }
#weatherBox .weatherFooter a:hover { text-decoration:underline;}

.textNotice{ width:100%; height:100%;position:absolute; z-index:98; }
.textNotice .bigMask{ width:100%; height:100%; background:#bbb; opacity:0.5; position:absolute;}
.textNotice .notice{ font-size:16px; background:#000; color:#fff; text-indent:2em; width:400px; height:70px; padding:20px 10px; margin:150px auto; border-radius:10px; z-index:99; font-weight:bold; line-height:25px; }

#loadBar{ width:100%; height:100%; position:absolute; z-index:97;}
#loadBar .bg{ width:100%; height:100%; position:absolute; top:0; left:0; opacity:0.5; background:#fff;}
#loadBar .barBox{ height:20px; width:270px; border-radius:5%; margin:200px auto; background:red; position:relative;}
#loadBar .nowBar{ height:20px; background:#000; width:0;}
#loadBar .num{ text-align:center; width:270px; height:20px; line-height:20px; position:absolute; top:0; left:0; color:#fff;}
/*更换背景*/
#js-change-bg {
	position: absolute;
	z-index: 100;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	display: none;
	opacity: 0;
}

.bg-box{
	position: relative;
	height: 100%;
	width: 900px;
	height: 562px;
	margin: 125px auto 0;
}

.bg-list {
	position: relative;
	height: 100%;
	width: 100%;
}
.bg-list > .item {
	position: absolute;
	left: 0;
	top: 0;
	/*opacity: 0;*/
	transition: .3s ease-in-out;
}

.bg-listx > .item:hover {
	opacity: 1;
}
.bg-list > .item > img {
	width: 100%;
}
.bg-box .btn-box{
	position: absolute;
	top: 0;
	right: -70px;
	z-index: 9; 
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 8px 20px;
  font-size: 14px;
  line-height: 1.428571429;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.btn:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn:hover,
.btn:focus {
  color: #333333;
  text-decoration: none;
}
.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #47a447;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  background-image: none;
}

body > .backdrop {
	position: absolute;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0.8;
	background-color: #000;
	display: none;
	/*trasition:opacity .8s ease-in-out;*/
}