@charset "utf-8";
/*清浮动*/
.clearfix:after{content:"";display:block;clear:both;}
.clearfix{zoom:1;}

.fade.in {
	opacity: 1;
}
	
.fade {
	opacity: 0;
	-webkit-transform: scale(0.75, 0.75);
	-ms-transform: scale(0.75, 0.75);
	transform: scale(0.75, 0.75);
	-webkit-transition: -webkit-transform .3s ease-out;
	-moz-transition: -moz-transform 0.3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
}

.fade {
	-webkit-transition: 0.2s linear;
	transition: 0.2s linear;
}

.in{
	-webkit-transform: scale(1, 1);
	-ms-transform: scale(1, 1);
	transform: scale(1, 1);
	opacity: 1;
	/*transition: 0.2s linear;*/
}

.last-2 {
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
}

		