<div class="different-left">
    <div class="dialog-hd-s">
        <h2>对比框</h2>
        <span class="close-dialog close-paipan">×</span>
    </div>

    <ul class="dif-left-list">
        
    </ul>

    <div class="dif-btn-wrap">
        <a class="bazi-uibtn-s compare" href="javascript:;">对比</a>
        <p class="mt10"><a class="clear color_red" href="javascript:;">清空对比栏</a></p>
    </div>
</div>