<div class="header">
    <div class="grid-1000 relative clearfix">
        <div class="fn-left logo-wrap">
            <a href="" title="博雅八字">
                <img src="/static/images/bazi-logo.png" width="99" height="44">
            </a>
        </div>
        <div class="fn-left nav-wrap">
            <ul>
                <li>
                    <a href="/">首页</a>
                </li>
                <li>
                    <a href="/friends">朋友</a>
                </li>
                <li>
                    <a href="/recordlist">记录</a>
                </li>
            </ul>
        </div>
        <div class="fn-left search-wrap" id="search-wrap">
            <input type="text" id="search-input" value="{{{searchKey}}}" placeholder="">
            <input type="button" id="search-btn" value="">
            <div class="search_select">
                <ul class="dropdown-list s-search-list">
                </ul>
            </div>
        </div>
        <div class="fn-left login-state" id="login-state"></div>
    </div>
</div>