{{!页面右侧固定内容}}
<div>
    <dl class="ui-box side-nav side-nav-main">
        <dd class="ico_dynamic cur">
            <a href="javascript:;">
                全部动态
            </a>
        </dd>
        <dd class="ico_friends">
            <a href="javascript:;">
                朋友圈
            </a>
        </dd>
        <dd class="ico_ask">
            <a href="javascript:;">
                问答专区
            </a>
        </dd>
        <dd class="ico_expert">
            <a href="javascript:;">
                专家批命
            </a>
        </dd>
        <dd class="ico_paipan">
            <a href="javascript:;">
                八字排盘
            </a>
        </dd>
        <dd class="ico_optimization">
            <a href="javascript:;">
                八字优选
            </a>
        </dd>
    </dl>
</div>
<div>
    <div class="ui-box mt10 recommend-add">
        <h3>
            名师堂
        </h3>
        <div class="clearfix recommend-item">
            <a class="fn-left" href="">
                <img src="/static/images/avatar.png" width="60" height="60">
            </a>
            <p class="color_red" style="margin-top:5px;">
                张三
            </p>
            <p class="mt5">
                <a class="add-f-btn" href="">
                    <i>
                        +
                    </i>
                    加好友
                </a>
            </p>
            <div class="clearfix">
            </div>
        </div>
        <h3>
        <span class="fn-left">
            可能认识
        </span>
            <a class="fn-right color_red" href="">
                全部
            </a>
        </h3>
        <ul class="recommend-add-list">
            <li class="clearfix recommend-item">
                <a class="fn-left" href="">
                    <img src="/static/images/avatar.png" width="40" height="40">
                </a>
                <p class="color_red">
                    张三
                </p>
                <p>
                    10位共同好友
                </p>
                <a class="add-f-btn" href="">
                    <i>
                        +
                    </i>
                </a>
                <div class="clearfix">
                </div>
            </li>
            <li class="clearfix recommend-item">
                <a class="fn-left" href="">
                    <img src="/static/images/avatar.png" width="40" height="40">
                </a>
                <p class="color_red">
                    张三
                </p>
                <p>
                    10位共同好友
                </p>
                <a class="add-f-btn" href="">
                    <i>
                        +
                    </i>
                </a>
                <div class="clearfix">
                </div>
            </li>
            <li class="clearfix recommend-item">
                <a class="fn-left" href="">
                    <img src="/static/images/avatar.png" width="40" height="40">
                </a>
                <p class="color_red">
                    张三
                </p>
                <p>
                    10位共同好友
                </p>
                <a class="add-f-btn" href="">
                    <i>
                        +
                    </i>
                </a>
                <div class="clearfix">
                </div>
            </li>
            <li class="clearfix recommend-item">
                <a class="fn-left" href="">
                    <img src="/static/images/avatar.png" width="40" height="40">
                </a>
                <p class="color_red">
                    张三
                </p>
                <p>
                    10位共同好友
                </p>
                <a class="add-f-btn" href="">
                    <i>
                        +
                    </i>
                </a>
                <div class="clearfix">
                </div>
            </li>
            <li class="clearfix recommend-item">
                <a class="fn-left" href="">
                    <img src="/static/images/avatar.png" width="40" height="40">
                </a>
                <p class="color_red">
                    张三
                </p>
                <p>
                    10位共同好友
                </p>
                <a class="add-f-btn" href="">
                    <i>
                        +
                    </i>
                </a>
                <div class="clearfix">
                </div>
            </li>
        </ul>
    </div>
</div>