<div class="user-bazi clearfix ui-box" style="display: block;">
    <div class="fn-left user-bazi-title">
    <span>
        八 字
        <br>
        排 盘
    </span>
    <span class="arrow">
    </span>
    </div>
    <div class="fn-left user-bazi-control">
        <div class="user-input-wrap">
            姓名
            <input type="text" maxlength="5" autocomplete="off" class="name-input"
                   name="name" id="name" value="">
        <span class="sex-tab" id="sex-tab">
            <label class="sex-label on">
                男
                <input type="radio" name="sex" value="0" checked="checked">
            </label>
            <label class="sex-label">
                女
                <input type="radio" name="sex" value="1">
            </label>
            <input name="sex" id="sex" type="hidden" value="0">
        </span>
        </div>
        <div class="calendar-wrap" id="calendar">
        </div>
        <a href="javascript:;" id="qipan-btn" class="control-btn">
            起 盘
        </a>
    </div>
    <div class="clearfix">
    </div>
</div>