{{!朋友}}
<div class="record-list-page">
    <div class="record-list-hd clearfix">
        <div class="fn-left dropdown" id="friend-relation">
            <button type="button" class="btn btn-default dropdown-toggle filter-class-dropdown-toggle" data-mj="0">
                <span class="txt">全部命局</span>
                <i class="triangle-border"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="all-classify" data-mj="0"><a href="javascript:;">全部命局</a></li>
                <li class="all-classify" data-mj="11"><a href="javascript:;">命强</a></li>
                <li class="all-classify" data-mj="12"><a href="javascript:;">命旺</a></li>
                <li class="all-classify" data-mj="13"><a href="javascript:;">煞重</a></li>
                <li class="all-classify" data-mj="14"><a href="javascript:;">财旺</a></li>
                <li class="all-classify" data-mj="15"><a href="javascript:;">伤官重</a></li>
            </ul>
        </div>
        <div class="fn-left">
            <a class="bazi-uibtn-s ml10" href="javascript:;">最新活跃</a>
            <a class="bazi-uibtn-s ml10" href="javascript:;">最近添加</a>
            <a class="bazi-uibtn-s ml10" href="javascript:;">即将生日</a>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <div class="record-list-wrapper">
        <ul class="record-list-bd clearfix" id="friend-list-main">
            {{!{{>friends_li}}
        </ul>
        </ul>
    </div>
</div>

{{!单页面js}}
{{#section 'page_js'}}
    <script>
        var wrap = $('.record-list-wrapper');
        //hover

        wrap.delegate('.select-btn','mouseenter',function(){
            var _this = this;
            clearTimeout($(this).data('timeout'));
            $(this).data('timeout',setTimeout(function(){
                $(_this).next().show();
            },100));
        }).delegate('.select-btn','mouseleave',function(){
            var _this = this;
            clearTimeout($(this).data('timeout'));
            $(this).data('timeout',setTimeout(function(){
                $(_this).next().hide();
            },150));
        });


        wrap.delegate('.select-list','mouseenter',function(){
            var _this = this;
            clearTimeout($(this).prev().data('timeout'));
            $(_this).show();
        }).delegate('.select-list','mouseleave',function(){
            var _this = this;
            clearTimeout($(this).prev().data('timeout'));
            $(this).prev().data('timeout',setTimeout(function(){
                $(_this).hide();
            },150));
        });

        wrap.delegate('.record-minli','click',function(){
            var li = $(this).closest('.uibox-list-item');
            Bazi.pop.show({
                src:'/pop/paipan',
                width:720,
                title:'排盘',
                data:{
                    sDate : li.data('birth'),
                    sTime : li.data('birthtime'),
                    iGender : li.data('igender'),
                    rName : li.find('.uname').text()
                }
            });
        });


        //删除好友
        wrap.delegate('.record-delete','click',function(){
            var _this = this;
            var li = $(_this).closest('li.uibox-list-item');
            var fuid = li.data('fuid');

            Bazi.pop.show({
                prompt:'确定要删除好友吗？',
                title:'提示',
                btn:[
                    {
                        label:'确定',
                        handle:function(cur,o){
                            var flag1 = false, flag2 = false;
                            function cb(){
                                if(!flag1 || !flag2){
                                    return;
                                }
                                li.fadeOut(500,function(){
                                    $(this).remove();
                                });
                            }
                            $.ajax({
                                type:'POST',
                                url:'/ajax/friends',
                                data:{
                                    act:'fridel',
                                    fuid:fuid
                                },
                                success:function(data){
                                    if(data.ret === 0){
                                        flag1 = true;
                                        cb();
                                    }
                                }
                            });
                            o.after_hide = function(){
                                flag2 = true;
                                cb();
                            };

                        }
                    },
                    {
                        label:'取消'
                    }
                ]
            })
        });

        function has(obj1, obj2) {//obj2是否是obj1的父元素
            if (obj1 === document.body) return false;
            if (obj1 === obj2) {
                return true;
            } else {
                obj1 = obj1.parentNode;
                return has(obj1, obj2);
            }
        };

        $('.dropdown').click(function(e) {
            if($(this).hasClass('open')){
                $(this).removeClass('open');
            }else{
                $(this).addClass('open');
            }
        });
        $('body').click(function(e) {
            $('.dropdown').each(function() {
                if ($(this).hasClass('open') && !has(e.target, this)) {
                    $(this).removeClass('open');
                }
            });
        });

        $('.dropdown .dropdown-menu li').click(function(){
            $(this).closest('.dropdown').find('button').data('mj',$(this).data('mj')).find('span').text($(this).text());
            $('.record-list-hd .bazi-uibtn-s.active').trigger('click');
            return false;
        });


        var pullCache;

        $('.record-list-hd .bazi-uibtn-s').click(function(){//使用mouseup是在dropdown trigger不引起body click的冲突
            var btn = this;

            $(btn).addClass('active').siblings().removeClass('active');
            if(pullCache){
                pullCache.destory({remove:true});
            }
            $('#friend-list-main').html('');

            var pn = 1;

            pullCache = new Bazi.Pull({
                'selector':'#main',
                handle:function(){
                    var _this = this;
                    var data = {
                        type:$(btn).text(),
                        pn:pn,
                        mj:$('#friend-relation').find('button').data('mj')
                    };

                    $.ajax({
                        url:'/friends',
                        type:'POST',
                        data:data,
                        success:function(html){
                            var cb = false;
                            $('#friend-list-main').append(html).find('li').fadeIn(500, function () {
                                if (cb) {
                                    return;
                                }
                                if ($('#friend-list-main').find('input[type=hidden]:last').val() === '1') {
                                    _this.destory({label: '没有更多信息了...'});
                                }else{
                                    _this.done();
                                }
                                pn++;
                                cb = true;
                            });

                            if($('#friend-list-main').find('li').length === 0){
                                _this.destory({label: '没有更多信息了...'});
                            }
                        }
                    });
                    return this;
                },
                trigger:true
            });
        }).eq(0).trigger('click');




    </script>
{{/section}}