{{!首页}}
{{>user_bazi}}

<iframe frameBorder="0"  width="640" src="/test" height="150"></iframe>

{{{isLogin}}}
<div class="bazi-list">
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    007
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-20 09:29:30
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            己未
                        </li>
                        <li data-send="month">
                            丙子
                        </li>
                        <li data-send="day">
                            癸酉
                        </li>
                        <li data-send="hour">
                            戊午
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命强
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        1980年01月01日 12时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 午时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                乡村风格华盛顿峰会的身份和
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    1234
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-17 17:55:01
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            己未
                        </li>
                        <li data-send="month">
                            丙子
                        </li>
                        <li data-send="day">
                            癸酉
                        </li>
                        <li data-send="hour">
                            戊午
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命旺
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        1980年01月01日 12时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 午时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                dgfdfgdfg
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    1234
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-17 17:52:18
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            己未
                        </li>
                        <li data-send="month">
                            丙子
                        </li>
                        <li data-send="day">
                            癸酉
                        </li>
                        <li data-send="hour">
                            戊午
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命旺
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        1980年01月01日 12时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 午时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                asdasdawsd
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    lianruihong
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-17 12:42:04
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            乙未
                        </li>
                        <li data-send="month">
                            壬午
                        </li>
                        <li data-send="day">
                            甲子
                        </li>
                        <li data-send="hour">
                            己巳
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命强
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        2015年06月17日 09时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 巳时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                456ghdgh
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    lianruihong
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-17 11:03:30
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            乙未
                        </li>
                        <li data-send="month">
                            壬午
                        </li>
                        <li data-send="day">
                            甲子
                        </li>
                        <li data-send="hour">
                            己巳
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命强
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        2015年06月17日 09时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 巳时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                李建李建李建李建李建李建李建李建李建李建李建李建李建李建李建李建李建李建
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    lianruihong
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-16 19:43:05
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            乙未
                        </li>
                        <li data-send="month">
                            壬午
                        </li>
                        <li data-send="day">
                            甲子
                        </li>
                        <li data-send="hour">
                            己巳
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命强
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        2015年06月17日 09时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 巳时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                斯德哥尔摩的清晨来得格外早，因此写了这首歌的第一段，\"我爱清晨，天空微微亮，走在路上，怀揣着梦想，一盏盏街灯熄灭，心中燃起希望，走出寒夜、走进黎明、走向远方\"
                。的确，a new beginning ...
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    1234
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-16 17:39:54
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            己未
                        </li>
                        <li data-send="month">
                            丙子
                        </li>
                        <li data-send="day">
                            癸酉
                        </li>
                        <li data-send="hour">
                            戊午
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命旺
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        1980年01月01日 12时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 午时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                123asd12asd
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    1234
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-16 17:22:36
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            己未
                        </li>
                        <li data-send="month">
                            丙子
                        </li>
                        <li data-send="day">
                            癸酉
                        </li>
                        <li data-send="hour">
                            戊午
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命旺
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        1980年01月01日 12时00分
                    </p>
                    <p>
                        一九七九年九月廿五日 午时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                123awd2
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    陈236
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-16 17:13:43
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            乙未
                        </li>
                        <li data-send="month">
                            壬午
                        </li>
                        <li data-send="day">
                            甲子
                        </li>
                        <li data-send="hour">
                            己巳
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命强
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        2015年06月17日 09时00分
                    </p>
                    <p>
                        一九八五年冬月十八日 巳时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                阿斯蒂芬
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix bazi-item">
        <div class="fn-left left-avatar">
            <img src="/static/images/avatar.png" width="50" height="50">
        </div>
        <div class="fn-left right-topic">
            <div class="topic-hd clearfix">
            <span class="f16">
                <strong class="color_red">
                    陈236
                </strong>
                发布的八字讨论
            </span>
            <span class="ml20 color_grey_a">
                2015-07-16 16:17:30
            </span>
            <span class="arrow">
            </span>
            </div>
            <div class="clearfix mt10 topic-info">
                <div class="fn-left topic-ganzi-info">
                    <ul class="clearfix ganzhi-info">
                        <li data-send="year">
                            乙未
                        </li>
                        <li data-send="month">
                            壬午
                        </li>
                        <li data-send="day">
                            甲子
                        </li>
                        <li data-send="hour">
                            己巳
                        </li>
                    </ul>
                </div>
                <div class="fn-left mt8 ml30">
                    <p class="color_red f16">
                        男
                    </p>
                    <div class="topic-tag mt10">
                    <span>
                        命强
                    </span>
                    </div>
                </div>
                <div class="fn-left topic-birth">
                    <p>
                        2015年06月17日 09时00分
                    </p>
                    <p>
                        一九八五年冬月十八日 巳时
                    </p>
                </div>
            </div>
            <div class="topic-contents">
                sdfa sfadf
            </div>
            <div class="clearfix topic-join">
                <p>
                <span class="color_red">
                    你
                </span>
                    和
                <span class="color_red">
                    其他10人
                </span>
                    赞了
                </p>
                <p class="color_grey">
                    取消赞
                </p>
                <p class="color_red">
                    评论 (826)
                </p>
            </div>
            <div class="topic-comments" style="width:auto">
                <div class="comments-item">
                    <div class="comments-hd">
                        <a class="avatar" href="">
                            <img src="/static/images/avatar.png" width="32" height="32">
                        </a>
                        <a href="" class="color_red">
                            <strong>
                                张大师
                            </strong>
                        </a>
                    <span class="fn-right c-time">
                        2015-12-15 12:00
                    </span>
                    </div>
                    <div class="comments-bd">
                        <p class="comment-content">
                            所谓命理，即批解命的理论，源于周易。俗称算命术。 算命术是中国民俗和社会心态最充分的反映。中国人有强烈的当官意识，"学而优则仕"一向是读书人的信条。一般百姓升官无门，但黄粱美梦世代延
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{{!单页面js}}
{{#section 'page_js'}}
    <script type="text/javascript">
        var dateInfo = [];//日历控件日期
        var timeInfo = [];//日历控件时间
        var qipan_data;
        
        new Bazi.calCtrlBar({
            oBoxEl: $('#calendar'),
            activeClass: 'cur',
            updateDate: function(data) {
                dateInfo = [data.year, data.month, data.day];
                timeInfo = [data.hour, data.min, data.second];
            }
        });

        function qipanData(){
            var year = dateInfo[0];
            var mouth = dateInfo[1];
            var day = dateInfo[2];

            var hour = timeInfo[0];
            var min =  timeInfo[1];
            var second = timeInfo[2];

            var format = function(num){
                if(num < 10){
                    return '0' + num;
                }
                return ''+num;
            };

            return {
                sDate : year+'-'+ format(mouth)+'-'+ format(day),
                sTime : format(hour)+':'+ format(min)+':'+ format(second),
                iGender : $('#sex').val(),
                rName : $('#name').val()
            };
        }

        $('.sex-label').click(function(e){
            var el = $(e.target);
            el.addClass('on').siblings().removeClass('on');
            $('#sex').val(el.val());
        })

        $('#qipan-btn').click(function(){
            Bazi.pop.show({
                src:'/pop/paipan',
                width:720,
                title:'排盘',
                data:qipanData()
            });
        });

        $('.header .logo-wrap').click(function(){
            Bazi.pop.show({
                src:'/test',
                title:'测试',
                width:650
            });
            return false;
        });

//        $('.header .logo-wrap').click(function(){
//            Bazi.pop.show({
//                src:'/pop/login',
//                title:'登 录',
//                data:{
//                    name:'chvin',
//                    age:25
//                },
//                width:650,
//                load:function(cur){
//                    cur.$('#login-username').trigger('focus');
//                },
//                id:'login'
//            });
//            return false;
//        });



    </script>
{{/section}}