{{!搜索好友列表页}}
<div class="friends_search-wrapper">
    {{!#if data.count}}
    <p>有关<span style="padding:0 6px;color:#dc5462;">{{{data.key}}}</span>的搜索结果：</p>
    <ul class="search-list clearfix">
        <div class="clearfix"></div>
    </ul>

    {{!else}}
        <!--<br />-->
        <!--<p style="font-size:16px;">很抱歉，没有找到与“<span style="padding:0 3px;color:#dc5462;">{{{../data.key}}}</span>”相关的信息。</p>-->
    {{!/if}}

</div>

{{!单页面js}}
{{#section 'page_js'}}
<script>
    var add_ing = false;
    $('#main').delegate('.add-f-btn:contains(加好友)','click',function(){
        if(add_ing === true){
            return;
        }
        if(!$(this).data('tuid')){
            return;
        }
        add_ing = true;
        var _this = this;
        $.ajax({
            type:'POST',
            url:'/ajax/friends',
            data:{
                act:'req',
                tuid:$(this).data('tuid')
            },
            success:function(data){
                add_ing = false;
                if(data.ret === 0){
                    $(_this).html('已发送').removeAttr('data-tuid').removeData('tuid').removeAttr('href');
                }
            }
        });
    });


    var pn = 1;
    var searchList = $('.search-list');
    new Bazi.Pull({
        'selector':'#main',
        trigger:true,
        handle:function(){
            var _this = this;
            var data = {
                pn:pn
            };

            $.ajax({
                url:location.href,
                type:'POST',
                data:data,
                success:function(html){
                    var cb = false;

                    if(searchList.find('li').length === 0){
                        searchList.prepend(html);
                    }else{
                        searchList.find('li').last().after(html);
                    }

                    if(searchList.find('li').length === 0){//当一个返回的li一个都没有时，下面的回调不会发生
                        _this.destory({label: '没有更多信息了...'});
                    }else{
                        searchList.find('li').fadeIn(500, function () {
                            if (cb) {
                                return;
                            }
                            if (searchList.find('input[type=hidden]:last').val() === '1') {
                                _this.destory({label: '没有更多信息了...'});
                            }else{
                                _this.done();
                            }
                            pn++;
                            cb = true;
                        });
                    }
                }
            });
            return this;
        }
    });
</script>
{{/section}}