<header>
    <button type="button" id="total-menu-btn"></button>
    <h2 id="title">所有</h2>
    <button type="button" id="sort-btn"></button>
</header>
<section>
    <div id="left-side">
        <div class="static-menu-list">
            <ul>
                <li><i class="all-icon"></i>所有</li>
                <li><i class="all-icon"></i>今天</li>
                <li><i class="all-icon"></i>最近7天</li>
                <li><i class="all-icon"></i>收集箱</li>
            </ul>
        </div>
        <div id="customization-menu-list">
            
        </div>
        <div id="fn-men-list">
            <ul>
                <li>已完成</li>
                <li>垃圾桶</li>
            </ul>
        </div>
        <button type="button" id="left-side-hide-btn">收起</button>
    </div>

    <div id="main-content-container">   
        <div id="add-task-area">
            <input type="text" placeholder="添加任务">
            <button type="button">确认</button>
        </div>
        <div class="tasks-area" id="tasks-area">
            <div class="task-collection-item">
                <h3>以后</h3>
                <div class="task-coll-content">
                    <ul id="later-task-list">
                    </ul>
                </div>
            </div>

            <div class="task-collection-item">
                <h3>无日期</h3>
                <div class="task-coll-content">
                    <ul id="no-date-task-list">
                        <li>test1</li>
                    </ul>
                </div>
            </div>

            <div class="task-collection-item">
                <h3>已完成</h3>
                <div class="task-coll-content">
                    <ul id="done-task-list">
                        <li>test1</li>
                    </ul>
                </div>
            </div>
        </div>
        
    </div>
</section>