<header>
    <button type="button" id="total-menu-btn"></button>
    <h2 id="title">所有</h2>
    <button type="button" id="sort-btn"></button>
</header>
<section>
    <div id="left-side-box"></div>
    <div id="main-content-container">
        <div id="main-content-wrapper">
        </div>   
    </div>
</section>