<!-- 日历模块 -->
<script type="text/template" id="tpls_cal_ctrlBar">
    <div class="cal-ctrl-bar control-wrap clearfix">
        <% if(hasGanZhi){ %>
        <div class="lunar-ganzhi fn-left">
            <ul class="clearfix ganzhi-info">
                <li class="cal-picker-ctrl" data-send="year" data-fill="GanZhiYear"></li>
                <li class="cal-picker-ctrl" data-send="month" data-fill="GanZhiMonth"></li>
                <li class="cal-picker-ctrl" data-send="day" data-fill="GanZhiDay"></li>
                <li class="cal-picker-ctrl" data-send="hour" data-fill="GanZhiHour"></li>
            </ul>
        </div>
        <% }%>

        <div class="time-control fn-left">
            <div class="calendar-type cal-toggle">
                <span class="cal cal-type-item active" data-caltype="cal" >公历</span>
                <span class="lunar cal-type-item" data-caltype="lunar">农历</span>
            </div>
            <ul class="cal-lunar-info border-box mt15 clearfix">
                <li class="cal-picker-ctrl control-bar year-bar" data-send="year" style="">
                    <p class="cal" data-caltype="cal"><span data-fill="year"></span><i></i></p>
                    <p class="lunar" data-caltype="lunar"><span data-fill="lunarYear"></span><i></i></p>
                    年
                </li>
                <li class="cal-picker-ctrl control-bar mouth-bar" data-send="month">
                    <p class="cal" data-caltype="cal"><span data-fill="month"></span><i></i></p>
                    <p class="lunar" data-caltype="lunar"><span data-fill="lunarMonthName"></span><i></i></p>
                    月
                </li>
                <li class="cal-picker-ctrl control-bar day-bar" data-send="day">
                    <p class="cal" data-caltype="cal"><span data-fill="day"></span><i></i></p>
                    <p class="lunar" data-caltype="lunar"><span data-fill="lunarDayName"></span><i></i></p>
                    日
                </li>
                <li class="cal-picker-ctrl control-bar time-bar" data-send="hour">
                    <p style="display:inline-block;"><span class="detail-hour" data-fill="datailHour"></span><i></i></p>
                    时
                </li>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="tpls_calendar">
    <div class="dates clearfix datetimepicker">
        <div class="datetimepicker-top" data-acpt="top">
            <p class="dialog-close">×</p>
            <div class="year-slider-box">
                <a href="javascript:;" class="year-slider-btn prev-btn date-btn">&lt;</a>
                <div class="top-info-box years-gap-box">
                    <div class="years-top-slider-box"></div>
                </div>
                <a href="javascript:;" class="year-slider-btn next-btn date-btn">&gt;</a>
            </div>
            <div class="date-except-year-toggle-box" style="display: none">
                <a href="javascript:;" class="date-toggle-btn prev-btn date-btn">&lt;</a>
                <div class="top-info-box date-info-box"></div>
                <a href="javascript:;" class="date-toggle-btn next-btn date-btn">&gt;</a>
            </div>
        </div>
        <div class="datetime-pannels-box">
            <div class="dates-tb datetimepicker-years" data-acpt="year"></div>
            <div class="dates-tb datetimepicker-months"  data-acpt="month"></div>
            <div class="dates-tb datetimepicker-days" data-acpt="day"></div>
            <div class="dates-tb datetimepicker-hours" data-acpt="hour"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</script>

<script type="text/template" id="tpls_cal_years">
    <ul class="clearfix border-box table-condensed">
        <% _.each(years, function(year){ %>
        <li class="date-cell year-cell" data-year=<%= year.calendar%> >
            <p class="solar cal-year"><%= year.calendar%></p>
            <p class="lunar"><%= year.lunar%></p>
        </li>
        <%})%>
        <div class="clearfix"></div>
    </ul>
</script>

<script type="text/template" id="tpls_cal_months">
    <ul class="clearfix border-box table-condensed table-condensed-month">
        <% _.each(months, function(month,i){%>
        <li class="date-cell month-cell" data-month=<%=(i+1)%> >
            <p class="solar"><%=(month.solarOrLunar)%></p>
            <p class="lunar"><%=month.ganzhi%></p>
        </li>
        <%})%>
        <div class="clearfix"></div>
    </ul>
</script>

<script type="text/template" id="tpls_cal_days">
    <table class="table-condensed">
        <thead>
        <tr>
            <th width="14.28%">一</th>
            <th width="14.28%">二</th>
            <th width="14.28%">三</th>
            <th width="14.28%">四</th>
            <th width="14.28%">五</th>
            <th width="14.28%">六</th>
            <th width="14.28%">日</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/template" id="tpls_cal_hours">
    <div class="condensed-hd">
        <dl class="condensed-hd-tab col-tab clearfix">
            <dd class="col-bnt on" data-type="simple">简易</dd>
            <dd class="col-bnt"  data-type="detail">详细</dd>
            <div class="clearfix"></div>
        </dl>
    </div>
    <div class="condensed-bd">
        <div class="condensed-bd-item condensed-bd-simple">
            <ul class="clearfix border-box table-condensed table-condensed-hours">
                <% _.each(hours,function(hour,i){ %>
                <li class="date-cell hour-cell" data-hour=<%= i%> >
                    <p class="solar"><%= hour.calendar%></p>
                    <p class="lunar"><%= hour.ganzhi%></p>
                </li>
                <% })%>
                <div class="clearfix"></div>
            </ul>
        </div>
        <div class="condensed-bd-item condensed-bd-detail" style="display: none">
            <select name="selectH" class="selectH"></select>时
            <select name="selectM" class="selectM"></select>分
            <select name="selectS" class="selectS"></select>秒
        </div>
    </div>
</script>

<!-- 注册 -->
<script type="text/template" id="tpls_register">
<div class="pop-login">
    <div class="c-left">
        <img src="/static/images/placeholder.jpg" alt="placeholder+image" width="162" height="300">
        <p class="mt15 color_red">
            <a href="javascript:;">下载到电脑 ▼</a>
        </p>
    </div>
    <div class="c-right">
        <div class="mamber-wrap m-Register" data-type="reg">
            <form action="" method="" id="form-register" novalidate="novalidate">
                <div class="mamber-item">
                    <div class="mamber-item-pos clearfix">
                        <input type="text" id="reg-username" class="mamber-ui-input tel-input require-valid"
                               name="telephone" autocomplete="off" placeholder="输入手机" value="">
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="mamber-item">
                    <div class="mamber-item-pos clearfix">
                        <input type="text" id="reg-name" class="mamber-ui-input name-input require-valid"
                               name="reg_username" autocomplete="off" placeholder="输入姓名" value="" datatype="name">
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="mamber-item">
                    <div class="mamber-item-pos clearfix">
                        <input id="reg-pwd" class="mamber-ui-input pwd-input require-valid" maxlength="16"
                               type="password" name="pwd" autocorrect="off" placeholder="创建密码" datatype="pwd">
                        <div class="clearfix">
                        </div>
                    </div>
                </div>
                <div class="mamber-item reg-calendar" id="calendar1"></div>
                <div class="mamber-item reg-igender">
                    <label class="sex-label on">
                        男
                        <input type="radio" name="sex" value="0" checked="checked">
                    </label>
                    <label class="sex-label">
                        女
                        <input type="radio" name="sex" value="1">
                    </label>
                    <input name="regsex" id="regsex" type="hidden" value="0" checked="checked">
                </div>
                <div class="mamber-btn">
                    <input type="button" value="注 册" class="mamber-sub" id="register_SubmitStatic">
                    <div class="other-link fn-right" style="margin-top:-20px;">
                        <p>
                            <a id="toggle-login" href="javascript:;">已注册，登录</a>
                        </p>
                    </div>
                    <div class="blank20"></div>
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
</script>

<!-- ================ 八字对比 ================= -->
<script type="text/template" id="tpls_dif_left">
    <div class="different-left">
        <div class="dialog-hd-s">
            <h2>对比框</h2>
            <span class="close-dialog close-paipan">×</span>
        </div>

        <ul class="dif-left-list"></ul>

        <div class="dif-btn-wrap">
            <a class="bazi-uibtn-s compare" href="javascript:;">对比</a>
            <p class="mt10"><a class="clear color_red" href="javascript:;">清空对比栏</a></p>
        </div>
    </div>
</script>

<script type="text/template" id="tpls_dif_left_item">
        <p class="clearfix">
            <span class="color_red"><%= data.name%></span>
            <span class="ml30"><%= data.sex%></span>
            <a class="bazi-uibtn-mini-w del-dif" href="javascript:;">-</a>
        <div class="clearfix"></div>
        </P>
        <p class="dif-left-ganzhi">
            <span class="year"><%= data.GanZhiYear%></span>
            <span class="month"><%= data.GanZhiMonth%></span>
            <span class="day"><%= data.GanZhiDay%></span>
            <span class="hour"><%= data.GanZhiHour%></span>
        </p>
        <p class="dif-brith"><%= data.solarDateStr%></P>
</script>

<script type="text/template" id="tpls_Different">
    <table class="dif-table">
        <thead>
            <tr>
                <th>基本资料</th>
                <th>八字</th>
                <th>命局</th>
                <th>大运</th>
                <th><a href="javascript:;" class="bazi-uibtn-mini-w btn-add-comparison">+</a></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</script>

<script type="text/template" id="tpls_Different_item">
        <td>
            <div class="ml15">
                <p class="info"><%= data.name%>&nbsp; <%= data.solarOrLunar%><%= data.sex%>&nbsp;属<%= data.shengXiao%> 虚岁<%= data.vage%></p>
                <p class="time"><%= data.solarDateStr%></p>
                <p class="luck"><%= data.startLunckStr%></p>
            </div>
        </td>
        <td>
            <ul class="dif-ganzhi clearfix">
                <li>
                    <span class="lunar"><%= data.GanZhiYear%></span>
                    <span class="lunar-side"><sup><%= data.yearGanWuXing%></sup><sub><%= data.yearZhiWuXing%></sub></span>
                </li>
                <li>
                    <span class="lunar"><%= data.GanZhiMonth%></span>
                    <span class="lunar-side"><sup> <%= data.monthGanWuXing%> </sup><sub> <%= data.monthZhiWuXing%> </sub></span>
                </li>
                <li>
                    <span class="lunar"><%= data.GanZhiDay%></span>
                    <span class="lunar-side"><sup> <%= data.dayGanWuXing%> </sup><sub> <%= data.dayZhiWuXing%> </sub></span>
                </li>
                <li>
                    <span class="lunar"><%= data.GanZhiHour%></span>
                    <span class="lunar-side"><sup> <%= data.hourGanWuXing%> </sup><sub> <%= data.hourZhiWuXing%> </sub></span>
                </li>
                <div class="clearfix"></div>
            </ul>
        </td>
        <td class="mingli"><span><%= data.mingju%></span></td>
        <td>
            <ul class="dif-dayun clearfix"> 
                <% data.goodLuckYears.forEach(function(item){ %>
                    <li>
                        <span class="solar"><%= item.age%></span>
                        <span class="lunar"><%= item.GanZhi%></span>
                    </li>
                <% }) %>
                <div class="clearfix"></div>
            </ul>
        </td>
        <td><a href="javascript:;" class="bazi-uibtn-mini-w del-comparison-item">-</a></td>
</script>

<script type="text/template" id="tpls_Different_add">  
    <div class="user-bazi-control">

        <form class="form-inline add-comparison-form-group">
         
            <div class="add-comparison-form-group">
                <div class="user-input-wrap">
                    姓名:
                    <input type="text" maxlength="5" autocomplete="off" class="name-input" name="name" id="dif-name" value="">
                    <span class="sex-tab" id="dif-sex-tab">
                        <label class="sex-label on">男<input type="radio" name="sex" value="0" checked="checked" /></label>
                        <label class="sex-label">女<input type="radio" name="sex" value="1" /></label>
                        <input name="sex" id="dif-sex" type="hidden" value="0">
                    </span>
                </div>
                <button type="button" class="control-btn add-comparison-btn">加入对比</button>
            </div>
        </form>
        <div id="add-comparison-from-calendar"></div>
        
    </div>
</script>