* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}
.clearfix{zoom:1;}
.clearfix:after {
    display: table;
    content: ' ';
    clear: both;
}

.pad-12 {
    padding: 0.12rem;
}
.mar-2 {
    margin-left: 2rem;
}
html {
    font-size: 16px;
}
.person-item {
    float: left;
    width: 25%;
    /*height: 3.4rem;*/
    padding-top: 0.4rem;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.person-item > a {
    display:inline-block;
    width: 80%;
    padding-bottom: 80%;
    border: 2px solid #ccc;
    border-radius: 50%;
}
.indicator-item {
    height: 2.8rem;
}
.indicator-label {
    display: inline-block;
    width: 4rem;
}