{{#each liunian}}
    <td class="liuyun-item {{ddefault}}">
        <div class="solar">{{age}}</div>
        <span class="lunar">{{ganzhi}}</span>
        <div class="solar">{{year}}</div>
    </td>
{{/each}}